:root {
    --black: #151515;
    --light_yellow: #F4D26D;
    --ultra_light-blue: #7A6AFF;
    --light_blue: #6B5AF9;
    --blue: #6B5AF9;
    --white: #ffffff;
}

/*----- [ FONTS ] -----*/

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Semibold;
    src: url(../fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}

/*-----------------------*/

a {text-decoration: none;}

.bg-1 {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(168, 168, 168, 0.7);
    width: 100%;
    height: 75px;
}

header {margin-top: 27px;}

.header__logo > img{
    width: 175px;
    height: 50px;
    margin-top: -15px;
}

.header__society {
    display: flex;
    justify-content: start;
    gap: 20px;
}


.header__society-phone {
    font-family: Montserrat-Bold;
    color: var(--black);
}

.header__society-phone:hover {
    border-bottom: 3px solid #000;
}

.header__button {
    font-family: Montserrat-Semibold;
    color: var(--black);
    border: 1px var(--light_yellow) solid;
    background-color: var(--light_yellow);
    padding: 12px 29px;
}

.header__buton-yellow:hover {
    border: 1px var(--black) solid;
    background-color: var(--black);
    color: var(--light_yellow);
}

.bg-2 {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}

nav {
    margin-top: -15px;
    cursor: pointer;
}

.nav__submenu {
    list-style-type: none;
    display: flex;
    justify-content: start;
    gap: 27px;
}

.nav__submenu-txt {
    font-family: Montserrat-Bold;
    font-size: 14px;
}

.nav__submenu-txt:hover {
    border-bottom: 3px solid #000;
}

.main {padding-top: 165px;}
.main__content {width: 650px;}
.main__content-left {z-index: 2;}

.main__content-tit {
    font-family: Montserrat-Bold;
    font-size: 36px;
}

.main__tit-blue {color: var(--light_blue);}

.main__content-txt {
    margin-bottom: 116px;
    font-family: Montserrat-Regular;
    font-size: 16px;
}

.main__text-blue {
    font-family: Montserrat-Bold;
    color: var(--light_blue);
}

.main__content-btn {
    padding: 22px 78px;
    background-color: var(--light_blue);
    border-radius: 5px;
    font-family: Montserrat-ExtraBold;
    font-size: 12px;
    color: var(--white);
}

.main__content-btn:hover {background-color: var(--ultra_light-blue);}

.main__paragraph {
    margin-top: 40px;
    width: 470px;
}

.main__paragraph-blue {
    font-family: Montserrat-SemiBold;
    font-size: 12px;
    color: var(--blue);
}

.main__paragraph-black {color: var(--black);}

.main__content-right {
    position: absolute;
    right: 0;
    z-index: 1;
}

.main__content-right > img {
    margin-top: -570px;
    width: 885px;
    height: 770px;
}